
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<div>
    Accounts Section:
    @Html.ActionLink("Accounts Section", "Index", "tblAccountSections", null, new { @class = "btn btn-primary" })</p>
</div>
<div>
    Department:
    @Html.ActionLink("Departement", "Index", "tblDepartements", null, new { @class = "btn btn-primary" })</p>
</div>
<div>
    Gymkhana:
    @Html.ActionLink("Gymkhana", "Index", "tblGyms", null, new { @class = "btn btn-primary" })</p>
</div>
<div>
    Hostel:
    @Html.ActionLink("Hostel", "Index", "tblHostels", null, new { @class = "btn btn-primary" })</p>
</div>

<div>
    Library:
    @Html.ActionLink("Library", "Index", "tblLibraries", null, new { @class = "btn btn-primary" })</p>
</div>
<div>
    Library:
    @Html.ActionLink("Scholarship", "Index", "tblScholarships", null, new { @class = "btn btn-primary" })</p>
</div>
<div>
    Library:
    @Html.ActionLink("Student Section", "Index", "tblStudentSection", null, new { @class = "btn btn-primary" })</p>
</div>
<div>
    Library:
    @Html.ActionLink("TPO", "Index", "tblTPO", null, new { @class = "btn btn-primary" })</p>
</div>